<h2>Contact Us</h2>
<ul>
<li>Email: <%= @office_email %></li>
<li>Phone: <%= @office_telephone %></li>
<li>Address: <%= @business_address %></li>
</ul>
<p>Or for a more specific enquiry contact <%= @manager_profile['name'] %>, our manager:</p>
<p>Phone: <%= @manager_profile['phone_number'] %></p><br>
<p>Email: <%= @manager_profile['email_address'] %></p>